
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* pretendard */

body{
  background: #000000;
  height: 100vh;
  overflow: hidden;
  font-family: 'Ownglyph_ParkDaHyun';

}
.mobile-wrapper {
    max-width: 430px; /* 아이폰 14 Pro 기준, 필요시 조정 */
    margin: 0 auto;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
  @media (max-width: 430px) {
    .mobile-wrapper {
      width: 100vw;
      /* min-height: 100vh; */
    }
  }
